
body {
    font-family: 'Times New Roman', 'Times', 'serif';
    background-color: aqua; 
} 
h1, h2
{ text-align: center; 
}
.input-container
{
display: flex;
justify-content: center;
align-items: center ;
gap: 10px;
}

#input-todo 
{ 
width: 200px;
height: 30px;
font-size: 1.24rem;
}

#add-todo {
height: 40px;
width: 50px;
border-radius: 30px;
border: none;
background-color: lightcoral;
font-size: 1.23rem;
cursor: pointer;
}
.todo-container 
{
width: 80vw; margin:auto;
display: flex ;
flex-direction: column;
justify-content: space-between;
gap: 10px;

}
.todo 
{
background-color: lightseagreen;
display: flex;
justify-content: space-between;
padding: 0px,10px;
font-size: 1.2rem;

}
.actions>form 
{
display: inline;
}
.actions>form>button 
{ 
font-family: 'Times New Roman', 'Times', 'serif';
background-color: red;
color: beige;
border: none;
padding: 8px;
font-size: 1.2rem;
cursor: pointer;
border-radius: 10px;

}
